// Custom Colors
$green-scilife: #a7c947;
$green-scilife-50: #d3e4a3;
$green-scilife-75: #bdd775;
$green-scilife-25: #e9f2d1;
$green-scilife-90: #b2d359;
$blue-kth: rgba(25,84,166,1);
$blue-kth-light: rgb(61, 118, 197);
$primary: rgb(37, 194, 168);
$primary-dark: rgb(23, 148, 127);
$primary-transp: rgba(37, 194, 168, 0.5);
$secondary: rgba(247, 140, 27, 1);
$secondary-transp: rgba(247, 140, 27, 0.5);
$secondary-very-transp: rgba(247, 140, 27, 0.35);
$blue-twitter: #1DA1F2;
$blue-twitter-dark: #157cbd;
$red-youtube: #ff0000;
$red-youtube-dark: #b80000;

// grays
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// more colors from bootstrap
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

// $primary:       $blue !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;

// @import "../bootstrap/scss/bootstrap";

/* ---------------------------------------------- /*
 * General
/* ---------------------------------------------- */

.page-section {
  padding: 5rem 0.5rem;
}

.container-research {
  max-width: 48rem;
  // padding: 0rem 1.5rem;
  text-justify: auto;
  text-align: justify;
}

.container-setup {
  height: 75vh;
}

.container-video {
  height: 65vh;
}

.container-people {
  max-width: 80rem;
}

.shadow-bg {
  box-shadow: 0rem 0rem 3rem #000;
}

p {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  text-align: justify;
  // text-indent: 2rem;
}

/* ---------------------------------------------- /*
 * Dividers
/* ---------------------------------------------- */

.divider {
  border-top: 4px solid $primary; 
  opacity: 1;
  max-width: 6rem;
  margin: 1.75rem 0rem;
  box-shadow: 0rem 0rem 1.5rem $primary;
}

.divider-secondary {
  border-top: 4px solid $secondary; 
  opacity: 1;
  max-width: 6rem;
  margin: 1.75rem 0rem;
  box-shadow: 0rem 0rem 1.5rem $secondary;
}

.divider-scilife {
  border-top: 4px solid $green-scilife; 
  opacity: 1;
  max-width: 6rem;
  margin: 1.75rem 0rem;
  box-shadow: 0rem 0rem 1.5rem $green-scilife;
}

.divider-kth {
  border-top: 4px solid $blue-kth; 
  opacity: 1;
  max-width: 6rem;
  margin: 1.75rem 0rem;
  box-shadow: 0rem 0rem 1.5rem $blue-kth;
}

/* ---------------------------------------------- /*
 * Backgrounds
/* ---------------------------------------------- */

.bg-scilife-logo{
  color: $gray-900;
  background: $green-scilife-90;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 5%),
                    linear-gradient(to top,    rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 5%),
                    url('../img/logo/scilifelab/SciLifeLab_symbol_Green.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-kth{
  color: $gray-300;
  background: $blue-kth;
}


.bg-jes-setup {
  color: $gray-400;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0,  0)    5%),
              linear-gradient(to top,    rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0,  0)    5%),
              linear-gradient(to left,   rgba(0, 0, 0,  0) 0%, rgba(0, 0, 0, .9)  100%),
              url('../img/background/jes_setup.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-black {
  background-color: #000000;
  color: $gray-600;
}

.bg-secondary {
  background-color: $gray-200 !important;
  color: $gray-800;
}

.bg-more-dark {
  background-color: #121418;
  color: $gray-500;
}

.bg-darker {
  background-color: #0e1013;
  color: $gray-600;
}


/* ---------------------------------------------- /*
  * Carousel
/* ---------------------------------------------- */

@keyframes zoomin {
  0% {
      transform: scale(1,1);
  }
  100% {
      transform: scale(1.05,1.05);
  }
}

.carousel-cover {
  height: 100vh;
  width: 100vw;
  min-height: 350px;
  object-fit: cover;
  object-position: right center;
  animation: zoomin 15s forwards;
}

.carousel-banner {
  height: 100%;
  width: 100%;
  min-height: 20rem;
  max-height: 40rem;
  object-fit: contain;
}

.carousel-selected-pubblication {
  height: 40vh;
  width: 100%;
  // min-height: 350px;
  object-fit: cover;
  object-position: center top;
  // animation: zoomin 15s forwards;
}


.gradient-overlay {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(to top,    rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 50%),
              linear-gradient(to left,   rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%),
              linear-gradient(to right,  rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%),
              linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 30%);
}

.carousel-cover-content {
  position: absolute;
  align-items: center;
  bottom: 15%;
  left: 10%;
  padding-top: 8rem;
  z-index: 20;
  color: white; 
  text-shadow: 0rem 0rem 2rem rgba(0,0,0,1);
}

.carousel-cover-scroll-icon {
  position: absolute;
  align-items: center;
  height: 2rem;
  bottom: 4%;
  left: 50%;
  z-index: 20;
  // transform: translate(-50%, -50%);
  filter: drop-shadow(0rem 0rem 1rem #000000);
}

/* ---------------------------------------------- /*
  * Logo
/* ---------------------------------------------- */

.logo-kth {
  color: $blue-kth;
  width: 6rem;
  // filter: drop-shadow(0rem 0rem 0.5rem $blue-kth);
}

.link-kth{
  color: $blue-kth;
  // text-shadow: 0 0 0.5rem $blue-kth;
  text-decoration: none;
  &.hover,
  &:hover {
    color: $blue-kth;
    // text-shadow: 0 0 1.5rem $blue-kth;
    text-decoration: underline;
  }
}

.logo-scilife {
  color: $green-scilife;
  width: 6rem;
  // filter: drop-shadow(0rem 0rem 0.5rem $green-scilife);
}

.link-scilife{
  color: $green-scilife;
  // text-shadow: 0 0 0.5rem $green-scilife;
  text-decoration: none;
  &.hover,
  &:hover {
    color: $green-scilife;
    // text-shadow: 0 0 1.5rem $green-scilife;
    text-decoration: underline;
  }
}

/* ---------------------------------------------- /*
  * Images
/* ---------------------------------------------- */

.img-people {
  object-fit: cover;
  border-radius: 50%;
  // max-width: 256px;
  border: 0px solid #555;
  box-shadow: 0rem 0rem 3rem $secondary-very-transp;
}

.img-ila {
  object-fit: cover;
  border-radius: 50%;
  // max-width: 256px;
  border: 5px solid $primary;
  box-shadow: 0rem 0rem 3rem $primary-transp;
}

.img-gallery {
  box-shadow: 0rem 1rem 3rem $black;
}

/* ---------------------------------------------- /*
  * Navbar
/* ---------------------------------------------- */

.navbar {
  box-shadow: 0rem 0rem 3rem $black;
  background-color: rgba(33, 37, 41, .7);
  backdrop-filter: blur(0.5rem);
}

.nav-item {
  padding: 0.25rem 1.5rem;
}

.nav-menu-label {
  font-weight: 700;
  color: $gray-500;
}

.nav-masthead .nav-link {
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-weight: 700;
  color: $gray-500;
  background-color: transparent;
  border-bottom: 0rem solid transparent;
  height: 2.5rem;

  &.active,
  &:active {
    color: $primary !important;
    border-bottom-color: $primary;
    text-shadow: 0rem 0rem 1rem $primary;
  }

  &.hover,
  &:hover {
    color: $gray-200 !important;
    border-bottom-color: $gray-200;
    text-shadow: 0rem 0rem 2rem $white;
  }
}

.navbar-toggler {
  border: 0;
  outline: none;
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  transition: box-shadow .15s ease-in-out;
}

.navbar-toggler:focus {
  border: 0;
}

.dropdown-menu {
  min-width: 0; 
}

.dropdown-menu-dark {
  .dropdown-item {
    color: $gray-500;
    &.active,
    &:active {
      color: $gray-800;
      background-color: $primary;
    }
  }
}

/* ---------------------------------------------- /*
  * Buttons
/* ---------------------------------------------- */

.btn-xl {
  padding: 1rem 2rem;
  font-size: 0.85rem;
  font-weight: 700;
  border: none;
  border-radius: 5rem;
}

.btn-social {
  width: 3rem;
  height: 3rem;
  margin: 0.25rem;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  text-shadow: 0rem 0rem 0.5rem rgba(0,0,0,0.5);
}

.btn-twitter {
  color: #ffffff;
  background-color: $blue-twitter;
  border-color: $blue-twitter;
  // box-shadow: 0rem 0rem 0.75rem $blue-twitter;
}
.btn-twitter:hover, .btn-twitter:focus {
  color: #ffffff;
  background-color: $blue-twitter;
  border-color: $blue-twitter;
  box-shadow: 0rem 0rem 1.5rem $blue-twitter;
}

.btn-github {
  background-color: $gray-100;
  border-color: $gray-100;
  // box-shadow: 0rem 0rem 0.75rem $gray-100;
}
.btn-github:hover, .btn-github:focus {
  background-color: $gray-100;
  border-color: $gray-100;
  box-shadow: 0rem 0rem 1.5rem $gray-100;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  // box-shadow: 0rem 0rem 0.75rem $primary;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: $primary;
  border-color: $primary;
  box-shadow: 0rem 0rem 1.5rem $primary;
}

.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
  // box-shadow: 0rem 0rem 0.75rem $secondary;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: $secondary;
  border-color: $secondary;
  box-shadow: 0rem 0rem 1.5rem $secondary;
}

.btn-youtube {
  color: #ffffff;
  background-color: $red-youtube;
  border-color: $red-youtube;
  // box-shadow: 0rem 0rem 0.75rem $red-youtube;
}
.btn-youtube:hover, .btn-youtube:focus {
  color: #ffffff;
  background-color: $red-youtube;
  border-color: $red-youtube;
  box-shadow: 0rem 0rem 1.5rem $red-youtube;
}

/* ---------------------------------------------- /*
  * Icons
/* ---------------------------------------------- */

.bi-big {
  font-size: 2rem;
}

/* ---------------------------------------------- /*
  * Text
/* ---------------------------------------------- */

.body {
  font-family: "Poppins";
  font-size: 1rem;
}

h1 {
  font-family: "Poppins";
  font-size: 3rem; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 600; 
  margin-bottom: .5rem;
  text-align: left;
}

h2 {
  font-family: "Poppins";
  font-size: 2rem; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 600; 
  margin-bottom: .5rem;
  text-align: left;
}

h3 {
  font-family: "Poppins";
  font-size: 1.5rem ; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  margin-bottom: .5rem;
  text-align: left;
}

h4 {
  font-family: "Poppins";
  font-size: 1.25rem ; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 600; 
  margin-bottom: .5rem;
  text-align: left;
}

.text-main{
  font-size:1.5rem;
  font-weight:300;
  line-height:1.5;
  margin-bottom:1rem;
}

.text-shadow {
  text-shadow: 0rem 0rem 1rem rgba(0,0,0,1);
}

.text-shadow-sm {
  text-shadow: 0rem 0rem 0.2rem rgba(0,0,0,1);
}

.text-scilife {
  color: $gray-900;
}

.text-scilife-bold{
  color: $green-scilife;
  font-weight: bold;
}
.text-kth{
  color: $blue-kth;
  font-weight: bold;
}

.text-gray-500{
  color: $gray-500;
}

.color-primary {
  color: $primary;
  text-shadow: 0rem 0rem 1rem $primary;
}

.color-secondary {
  color: $secondary;
  text-shadow: 0rem 0rem 1rem $secondary;
}

a {
  color: $primary;
}

/* ---------------------------------------------- /*
  * bibtex
/* ---------------------------------------------- */

.bibtex-title{
  font-weight: 600;
}

.bibtex-journal {
  color: $primary;
  font-weight: 600;
}

.bibtex-doi-link {
  color: $gray-600;
  font-weight: 400;
  &.hover,
  &:hover {
    color: $secondary;
    text-shadow: 0rem 0rem 1rem $secondary;
  }
}


/* ---------------------------------------------- /*
  * Animated scroll arrows
/* ---------------------------------------------- */

$ani-speed: 4s;
$ani-delay: 2s;

.arrow {
    opacity: 0;
    position: absolute;
        left: 50%;
        top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
        top: 0;
        left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

// Animation
@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: -45%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}